<div class="form-group">
  <div class= "col-md-6 col-md-offset-3">
    <h1 class="extra-padding-top">Register a Candidate!</h1>
    <%= form_for(@candidate) do |f| %>
  
      <%= render 'shared/error_messages', object: f.object %>
  
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control"  %>
  
      <%= f.label :candidate_id, "Student ID (8 digits) " %>
      <%= f.text_field :candidate_id, placeholder: "(Ex: 12345678)", class: "form-control"  %>
    
      <%= f.label :grade %>
      <%= f.select(:grade, options_for_select(%w[7 8 9 10 11 12]), { prompt: true }, class: "form-control")  %>
    
      <%= f.label :position_id, "Select Position" %>
      <%= f.select(:position_id, options_for_select(session[:choices]), { prompt: true }, class: "form-control extra-padding-bot") %>
    
      <%= f.submit "Register Candidate!", class: "btn btn-large btn primary" %>  
    <% end %> 
  </div>
</div>